img {
    max-width: 100%;
    height: 100%;
  }
  body {
    background-color: #B1271D;
  }
  .cor_fonte{
    color: #F2EDDF;
  }
a:link {
  color: #F2EDDF;
  text-decoration: none;
}
a:visited {
  color: #2D5B40;
}
a:hover {
  color: #1CB059;
  text-decoration: underline;
}
a:active {
  color: #1CB027;
}
